.outer-cont {
  position: relative;
  height: 800px;
  width: 800px;
  margin-top: 100px;
  background-color: grey;
}

button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px black;
}

p {
  font-size: 20px;
}

.yo {
  height: 40px;
  width: 40px;
  margin-top: 50px;
}

.nthchild-desc {
  margin-top: 20px;
}

.yo:nth-child(even) {
  background-color: pink;
}
.yo:nth-child(odd) {
  background-color: yellow;
}

#btn-1 {
  position: absolute;
  left: 0;
  color: white;
  background-color: rgba(255, 0, 0, 0.575);
}
#btn-2 {
  position: absolute;
  right: 0;
  color: white;
  background-color: rgba(0, 38, 255, 0.575);
}
#btn-3 {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 255, 13, 0.575);
}
#btn-4 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgb(0, 0, 0);
}

#btn-4:disabled {
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: none;
  background-color: white;
  color: red;
}
